[submodule "Civix-Digital-Civic-Engagement-Petition-Platform"]
	path = Civix-Digital-Civic-Engagement-Petition-Platform
	url = https://github.com/springboardmentor1804b-code/Civix-Digital-Civic-Engagement-Petition-Platform
